<div class="app-wrapper">
<mat-drawer-container class="example-container" autosize>
  
  <mat-toolbar color="primary">
    <mat-toolbar-row class="menu-toolbar">
      <button type="button" class="menu-button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Menu icon">menu</mat-icon>
      </button>
      <span>Popular</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="logo-wrap">
      <span class="logo-img"></span>
      <h1 class="logo-txt">Logo</h1>
    </div>
    <mat-list class="menu-list">
      <mat-list-item><mat-icon aria-hidden="false" aria-label="Popular icon">dashboard</mat-icon> Popular</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon> Search</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon aria-hidden="false" aria-label="About icon">people</mat-icon> About</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon aria-hidden="false" aria-label="Share icon">share</mat-icon> Share</mat-list-item>
    </mat-list>
</mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

</div>